@{
    ViewData["Title"] = "Home";
}

<h1 class="text-center">Sport Pal</h1>
<p>This site is a sports league manager, that lets users create leagues, and add team to keep track of wins, losses, points, etc of each team.</p>
<p>I had some last second issues with DB come up, so I had to remove some extra functionality, but in the future teams only showing up in the league they click on will be back.</p>
